<ion-header>


<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button href="../accueil">
      AIRNEIS
    </ion-button>
  </ion-buttons>
 
  <ion-buttons slot="start">
    <ion-button href="../cgu">CGU
    </ion-button>
    <ion-button href="https://facebook.com/yourpage" target="_blank">
      <ion-icon name="logo-facebook"></ion-icon>
    </ion-button>
    <ion-button href="https://twitter.com/yourpage" target="_blank">
      <ion-icon name="logo-twitter"></ion-icon>
    </ion-button>
    <ion-button href="../contact">contact
    </ion-button>
    
  </ion-buttons>
</ion-toolbar>

</ion-header>


