.list-container {
    margin-top: 3cm;
}

.total-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.2cm;
    font-size: 1.5rem;
}

.total-container ion-label {
    margin: 0.5cm 0;
}