<div class="espace2"></div>

<div>
  <ion-title>Conditions Générales de Vente</ion-title>
</div>

<ion-content class="encadrement">
  <div class="cgu-content">
    <h2>Conditions générales de vente ("Conditions de Vente")</h2>
    <p>Version 2023-1 ; publiée et effective à la date du 02 juin 2024.</p>

    <p>
      Les présentes CGV déterminent les conditions applicables aux ventes effectuées par toute personne physique agissant à des fins qui n'entrent pas dans le cadre de son activité professionnelle et souhaitant acheter des produits SALOMON (les "Produits") via le site internet www.ecommerce.com/fr-fr (ci-après la "Boutique en Ligne") et Amer Sports France, société de droit français au capital de 0€ enregistrée sous le numéro 135 113 331 au Registre du Commerce et des Sociétés de Massy, ayant son siège social situé 2 rue Chassit, 91220 Massy, France, N° de TVA FR24123456789 (ci-après "AIRNEIS" ou "nous", selon le contexte).
    </p>

    <h3>1. Conditions d’application des présentes CGV.</h3>
    <p>
      Les présentes CGV s'appliquent uniquement aux achats de Produits effectués via la Boutique en Ligne.
    </p>
    <p>
      Nous nous réservons le droit de modifier les présentes CGV à tout moment. La date d’entrée en vigueur des présentes CGV est indiquée ci-dessus. Les CGV applicables sont celles en vigueur à la date de la passation de la commande.
    </p>
    <p>
      AU MOMENT DE LA COMMANDE DE PRODUITS, VOUS ETES INVITE A ACCEPTER EXPRESSEMENT ET SANS RESERVES LES PRESENTES CGV. AUCUNE COMMANDE NE POURRA ETRE PASSEE SANS ACCEPTATION DES PRESENTES CGV.
    </p>
  </div>
</ion-content>

<div class="espace1"></div>

